@import '../../assets/variables/colors.scss';

.currency {
    margin-top: 28px;
    width: 100%;

    ul {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        li {
            background: $white;
            box-shadow: 0px 8px 16px rgba(139, 164, 187, 0.12);
            border-radius: 16px;
            width: 100px;
            height: 100px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            color: $gray;
            cursor: pointer;

            .ico {
                font-weight: 500;
                font-size: 30px;
                line-height: 38px;
            }

            .title {
                font-weight: 500;
                font-size: 16px;
                line-height: 24px;
            }

            &.active {
                background: $blue;
                color: $white;
            }
        }
    }
}
